@import './variables.scss';

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $HEADER_HEIGHT;
  padding: 1rem;
  display: flex;
  align-items: center;
  z-index: 1000;
  box-sizing: border-box;
  background-color: #555;
  color: #fff;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;

    &-name {
      font-size: 1.4rem;
      line-height: 1.2;
    }

    &-image {
      width: 8em;
      height: 8em;
      position: relative;
      cursor: pointer;
    }

    &-menu {
      display: flex;
      gap: 1rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
      font-size: 1.2rem;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        cursor: pointer;

        &:hover {
          color: #ddd;
          transition: color 0.2s;
        }
      }
    }
  }
}
