body {
  color: #555;
}

#title {
  display: flex;
  height: 100dvh;

  .title {
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4em;

      .portfolio {
        position: absolute;
        top: 20%;
      }
      .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        gap: 0.4em;
      }
      .large {
        font-size: 2.4em;
      }
      .small {
        font-size: 1.5em;
      }
      .icon {
        width: 200px;
        height: 200px;
      }
    }
    &-right {
      width: 50%;
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#about {
  padding: 10rem;

  .about {
    &-name {
      display: flex;
      align-items: center;
      gap: 2em;
      margin-bottom: 3em;

      .large {
        font-size: 2em;
      }

      img {
        width: 14em;
        height: 14em;
      }
    }
  }
}
