body {
  font-family: Helvetica, "游ゴシック", "Yu Gothic", YuGothic, HiraKakuProN-W3,
    "メイリオ", Meiryo, sans-serif;
  color: #777;
}

.font-large {
  font-size: 2rem;
}

#title {
  display: flex;
  height: 100dvh;

  .title {
    &-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4em;

      .portfolio {
        position: absolute;
        top: 20%;
      }
      .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        gap: 0.4em;
      }
      .large {
        font-size: 2.4em;
      }
      .small {
        font-size: 1.5em;
      }
      .icon {
        width: 200px;
        height: 200px;
      }
    }
    &-right {
      width: 50%;
    }
    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

#about {
  padding: 10%;
  display: flex;
  justify-content: center;

  .about {
    &-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 3rem;
      width: 1000px;
    }

    // &-title {
    //   margin-bottom: 1rem;
    // }

    &-name {
      display: flex;
      align-items: center;
      gap: 2em;
      margin-bottom: 3em;

      .large {
        font-size: 2em;
      }

      img {
        width: 14em;
        height: 14em;
      }
    }

    &-table {
      &-item {
        display: flex;
        align-items: flex-start;

        dt {
          min-width: 6rem;
          font-weight: 700;
        }
      }
    }
  }
}

#navigation {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);

  .navigation {
    &-wrapper {
      padding: 0 4rem;
      display: flex;
      align-items: center;
      gap: 4rem;
      font-size: 1.2rem;

      li {
        list-style: none;
        cursor: pointer;
        transition: opacity 0.5s;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
